
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

:root{
    --primary-color:#111827;
    --secondary-color:#1F2937 ;
}

body{
    margin-top: 0%;
    margin-left: 0%;
    font-family: 'Ubuntu', sans-serif;
}

.split{
    height: 100%;
    width: 50%;
    position:fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.left {
    left: 0;
    background-color:var(--secondary-color);
  }
  
.right {
    right: 0;
    background-color:var(--primary-color);
  }

.center-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  }


.input-tab{
    width: 89%;
    max-height: 10%;
    padding: 5%;
    margin: 5% 0%;
    background-color: var(--primary-color);
    color: white;
    border:none;
    
}

#btn-check{
    width: 100%;
    padding: 5%;
    margin-top:5%;
    margin-bottom: 5%;
    margin-right:5%;
    margin-left:0%;
    background-color:#E0E7FF;
    color:var(--primary-color);
    border:none;
    font-weight: bold;
}

.output-container{
    font-size: x-large;
    font-weight: bold;
}